[Unit]
Description=server-watchdog Bottleneck Sampler Timer
Documentation=https://github.com/matebuteler/server-watchdog

[Timer]
# Take a bottleneck sample every 60 seconds.
# Adjust OnCalendar= or set AccuracySec= to match your needs.
OnCalendar=minutely
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
